h1, h2 {
  line-height: 1;
  margin: 0;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border-radius: 0;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: none;
  border: none;
}
